/* .SelectGameHeader {
    display: flex;
    width: 60%;
    margin: 0 auto; /* Center the container horizontally *
    justify-content: space-between; /* Distribute items evenly *
    align-items: center; /* Align items vertically in the center *
}

.SettingsButton {
flex: 1; /* Allow the button to grow and shrink *
margin-right: 10px; /* Optional: Add space between the button and the first paragraph *
} */

.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow-x:hidden;
  }

  .main-content {
    display: flex;
    flex: 1;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 5px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
    width: 100%;
  }


  .game-name {
    flex: 1;
    text-align: center;
    font-size: 2.5em;
  }

  .free-space-status {
    flex: 1;
    text-align: right;
    margin-right: 10px;
    max-width: max-content;
    font-size: 1.5em;
  }

/* Left Panel */
  .left-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px;
    /*background-color: aqua;*/
    overflow: auto;
  }

  .game-board-preview{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 92%;
    width: 92%;
    padding-right: 5px;
    padding-left: 5px;
  }

.preview-row {
    display: flex;
  }

.preview-square {
    flex: 1; /* Ensure each square takes up equal width */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    /*font-size: 1.2em;  Adjust font size as needed */
    box-sizing: border-box; /* Include border in the element's dimensions */
    user-select: none;
    color: #000000;
  }
  .preview-square-free {
    flex: 1; /* Ensure each square takes up equal width */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    /*font-size: 1.2em;  Adjust font size as needed */
    box-sizing: border-box; /* Include border in the element's dimensions */
    user-select: none;
    min-width: min-content; /* Dynamic width based on content */
    background-color: #FFFFFF;
  }
  .large-preview-square {
    font-size: 4.2em;  /*Adjust font size as needed */
    min-width: 72px; /* Dynamic width based on content */
  }
  .large-preview-square-free {
    font-size: 2.1em;  /*Adjust font size as needed */
  }
  .left-panel-op{
    font-size: 2.1em;
  }

  .selected{
    background-color: #1E4D2B;
    color: #FFFFFF;
  }

/* Right Panel */
  .right-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 30%;
    padding: 0px;
    border-left: 0px solid #ccc;
    overflow: auto;
  }

  .right-panel p {
    margin: 10px 0;
  }

/* Footer */
  .footer {
    /* position: sticky; */
    /* bottom: 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0px; */
    /* background-color: #f8f8f8; */
    /* border-top: 1px solid #ccc; */
    width: 100%;
    height: 200px;
    /* margin-top: 5px; */
    /* height: 30%; */
  }

.game-board-previews {
    width: 100%;
    height: 100%;
}

.swiper{
    height:100%;
    width: 100%;
    overflow: hidden;
}
.swiper-slide{
    margin:0px;
    margin-left: 40px;
    overflow: hidden;
}


  /* .game-preview-entry{
    display: flex;
    flex-direction: column;
    margin:0px;
    margin-left: 40px;
    margin-right: 10px;
  }
  .game-board-preview-label {
    font-size: 1.2em;
    margin: 0px;
  }
  .small-preview-square {
    font-size: 1.6em;
    min-width: 70px;
  }
  .small-preview-square-free {
    font-size: 1.1em;
    min-width: 70px;
  }
  .smale-preview-row{
    display: flex;
    flex:1;
  } */
  /* .game-board-preview-small {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    margin: 5px;
    text-align: center;
  } */

  .footer-buttons {
    width: 100vw;
  }
  .footer-button {
    font-size: 40px;
    width: 100%;
  }
