#game_board_view{
    flex-direction: column;
    flex-grow: 1;
}
#topHeaderDiv{
    height: 26%;
    overflow: hidden; /* Enable vertical scrolling */
    margin-top: 10px;
}
#qrcode{
    margin-right:60px;
}

/* Center Styles */
#centerDiv {
    height: 60%;
    flex-grow: 1;
}

#headerInfoDiv{
    flex-grow: 1;
}

/* Override default styles for the clicked numbers table */
#clickedNumbersDiv{
    height: 100%;
    /* clip */
    overflow: hidden; /* Enable vertical scrolling */
}
#clickedNumbersTable {
    display: flex;
    flex-direction: column;
}

/* Footer Styles */

#footerDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%; /* adjust as needed */
    height: 5%;
    margin-top: var(--button-margin-top); /* adjust as needed */
    /*background-color: brown; /* The Color*/
}
button {
    font-size: var(--button-font-size); /* adjust as needed */
}


