:root {
    --main-bg-color: #FFFFFF;
    --main-font-color: #000000;
    --item-font-size: 45px;
    --header-font-size: 45px;
    --header-details-font-size: 25px;
    --last-numbers-font-size: 25px;
    --button-margin-top:30px;
    --button-font-size: 25px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
#page_div {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#large_preview_div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: white;
    margin-left: 5%;
    margin-top: 12%;
    width: 90%;
    height: 60%;
    border: 4px solid black;
}
#large_in_view_div{
    width: 100%;
    height: 100%;
}
#large_game_preview_name{
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin:0;
    user-select: none;
}
#large_preview_table_div{
    display:flex;
    align-items: center;
    margin-left: 5%;
    width: 90%;
    height: 75%;
}
#large_preview_board{
    width: 100%;
    height: 100%;
    font-size: 400%;
}
#large_preview_board td{
    border: 1px solid black;
    width: 20%;
    height: 20%;

}
#large_preview_board_2{
    width: 100%;
    height: 100%;
    font-size: 400%;
}
#large_preview_board_2 td{
    border: 1px solid black;
    width: 20%;
    height: 20%;
}
#large_transition_arrow{
    margin: 0;
    font-size: 50px; /* adjust as needed */
    user-select: none;
}
#large_optional_slash{
    margin: 0;
    font-size: 200%; /* adjust as needed */
    user-select: none;
    margin-left: 20px;
    margin-right: 20px;
}

#large_free_space_label{
    margin: 0;
    font-weight: bold; /* makes the text bold */
    text-align: center;
    font-size: 50px;
    user-select: none;
    text-decoration: underline;
}

table {
    user-select: none;
}
#headerDiv {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 18%;
    /*background-color: red; /* The Color*/
}

#headerTextDiv {
    display: flex;
    /*background-color: orange; /* The Color*/
}
#detailDiv{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 60vw;
    max-width: 80vw;
    max-height: 18vh;
    min-height: 18vh;
}
#numberRatioDiv{
    padding: 0;
    user-select: none;
    font-size: 20;  /*adjust as needed */
    font-weight: bold; /* makes the text bold */
    text-align: right; /* centers the text */
}
#preview_div{
    display:flex;
    flex-direction: column;
    /*background-color: yellow; /* The Color*/
    width: 20%;
    row-gap: 0px;
}
#preview_table_div{
    display:flex;
    align-items: center;
    height: 70%;
    width: 100%;
}
#preview_board {
    width: 100%;
    height: 100%;
}
#preview_board td{
    border: 1px solid black;
    width: 20%;
    height: 20%;
}
#transition_arrow{
    margin: 0;
    padding: 1%;
    font-size: 200%; /* adjust as needed */
    user-select: none;
}
#optional_slash{
    margin: 0;
    padding: 1%;
    font-size: 200%; /* adjust as needed */
    user-select: none;
}
#preview_board_2 {
    width: 100%;
    height: 100%;
}
#preview_board_2 td{
    border: 1px solid black;
    width: 20%;
    height: 20%;
}
#game_preview_name{
    margin: 0;
    font-weight: bold; /* makes the text bold */
    text-align: center;
    font-size: 150%;
}
#free_space_label{
    margin: 0;
    font-size: 150%;
    font-weight: bold; /* makes the text bold */
    text-align: center;
    user-select: none;
    text-decoration: underline;
}
#lastNumber{
    /*background-color: blue; /* The Color*/

    user-select: none;
    font-size: var(--header-font-size);  /*adjust as needed */
    font-weight: bold; /* makes the text bold */
    text-align: center; /* centers the text */
    margin: 0;
    margin-left: -20%;
}
#extraInfo{
    /*background-color: green; /* The Color*/
    margin: 0;
    margin-left: -20%;
    font-size: 200%; /* adjust as needed */
    font-weight: bold; /* makes the text bold */
    text-align: center; /* centers the text */
}

#centerDiv {
    display: flex;
    height: 72%;
    /*background-color: aquamarine; /* The Color*/
    width: 100%;
}

#tablesContainer {
    display: flex;
    width: 90%;
    height: 100%;
    /*background-color: yellowgreen; /* The Color*/
}
#lettersTable{
    width: 5%;
}
#lettersTable td{
    border: none;
    color: var(--main-font-color);

    font-size: var(--item-font-size); /* adjust as needed */
    font-weight: bold; /* makes the text bold */
    text-align: center; /* to center the content */
}
#numbersTable{
    width: 95%;
}
#numbersTable td {
    border: 2px solid black;
    width: 5%;

    font-size: 500%; /* adjust as needed */
    font-weight: bold; /* makes the text bold */
    text-align: center; /* to center the content */
}
#clickedNumbersDiv {
    width: 10%;
    height: 100%;
    /*background-color: chocolate; /* The Color*/
    overflow-y: auto;
    overflow-y: scroll;
}
#numberRatioDiv{
    width: 100%;
    height: 3%;
    font-size: 150%; /* adjust as needed */
}
#lastNumberCalled {
    user-select: none;
    font-size: var(--last-numbers-font-size); /* adjust as needed */
    text-align: center; /* centers the text */
    text-decoration: underline;
    width: 100%;
    height: 5%;
    color: var(--main-font-color);
    margin: 0px;
    padding: 0px;
    padding-top: 5%;
}
#clickedNumbersTable {
    display: flex;
    flex-direction: column;
}
#clickedNumbersTable td{
    font-size: 300%; /* adjust as needed */
    border: none;
    color: var(--main-font-color);
    justify-content: center;
    text-align: center;
}
#footerDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%; /* adjust as needed */
    height: 5%;
    margin-top: var(--button-margin-top); /* adjust as needed */
    /*background-color: brown; /* The Color*/
}
button {
    font-size: var(--button-font-size); /* adjust as needed */
}

#right_side{
    user-select: none;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    /*background-color: blue; /* The Color*/
}
